.container {
    max-width: 1200px;
    margin: 20px auto;
}

.btn {
    background-color: rgb(24, 212, 125);
    color: white;
    border-radius: 3px;
}

.card-item {
    max-width: 300px;
    border: 1px solid blue;
    border-radius: 6px;
    margin-top: 20px;
    padding: 5px;

}